//CUSTOM DESIGN STYLES
//AUTHOR: redcap creative


// MIXINS
// HEADER
//- - - - - - - - - - - - - - - - - -



//MIXINS


//RETINA MEDIA QUERIE MIXIN
@mixin at2x($path, $ext: "jpg", $w: auto, $h: auto) {
  $at1x_path: "#{$path}.#{$ext}";
  $at2x_path: "#{$path}@2x.#{$ext}";

  background-image: url("#{$at1x_path}");

  @media all and (-webkit-min-device-pixel-ratio : 1.5),
         all and (-o-min-device-pixel-ratio: 3/2),
         all and (min--moz-device-pixel-ratio: 1.5),
         all and (min-device-pixel-ratio: 1.5) {
           background-image: url("#{$at2x_path}");
           background-size: $w $h;
  }
}

//TRANSITIONS
@mixin main-trans($trans-time) {
-webkit-transition: all $trans-time ease-in-out;
-moz-transition: all $trans-time ease-in-out;
-o-transition: all $trans-time ease-in-out;
transition: all $trans-time ease-in-out;
}

//CALL TO ACTION (CTA)
@mixin cta($cta-color) {
display: block;
padding: 1em;
color: #fff;
letter-spacing: 1px;
font-size: 1.1rem;
text-shadow: 1px 1px 1px darken($cta-color, 25%);
background-color: $cta-color;
@include main-trans(.2s);
&:hover {background-color: rgba($cta-color, .85)}
    
}




// GLOBAL STYLES

//SOCIAL LINK
.social-links {
 a {
        display: inline-block;
        width: 32px;
        height: 31px;
        @include at2x('../img/social_sprite', png, 168px, 93px);
    
         &:hover {
            background-position-y: 31px}
    }
    
    .icon-phone {background-position-x: 0px}
    .icon-cal {background-position-x: -34px}
    .icon-fb {background-position-x: -68px}
    .icon-twt {background-position-x: -102px}
    .icon-ytube {background-position-x: -136px}   
}

cta {
      background-color: $cma-yellow !important; 
}

/* This element holds injected scripts inside iframes that in some cases may stretch layouts. So, we're just hiding it. */
#fb-root {
  display: none;
}
 
/* To fill the container and nothing else */
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
  width: 100% !important; background-color: #fff;
}



// 1. GLOBAL HEADER
header {

    img {
        max-width: 275px; 
        margin: 2em 0;
    }
    
    .social-links {
        margin-bottom: 1em;
        
        @media #{$medium-up} {
           margin: 1em 0;    
        }
        
    }
}

//TOP BAR CUSTOM STYLES
.top-bar.expanded .toggle-topbar a {color: #fff}

.top-bar-section {
    a {
        text-align: center;
        border-bottom: 1px rgba(255, 255, 255, 0.4) solid;
        
            @media #{$medium-up} {border-bottom: none}
    
    } 
    
    ul li:hover:not(.has-form) > a {
        background-color: $cma-gray} 
}


// TOP BAR - MEDIUM w/ LARGE EXCEPTIONS
@media #{$medium-up} {
    .top-bar {
        text-align:center;
        background: white;}
    
    .contain-to-grid {background: #fff}
    
    section.top-bar-section {
        display: inline-block;
        
        ul li.active > a {background: #22C0E8 !important}

        a {
            display: inline-block;
            padding: 0 18px !important;
            background: #ffffff !important;
            color: $cma-purple !important;
            @include main-trans(.3s);
            
                &:not(.button):hover {
                color: #fff !important; 
                background: $cma-purple !important;  
               }
            
                @media #{$large-up} 
                    {padding: 0 43px !important}
                }
            }
        
         li.not-click:hover a {
            background: darken( $cma-purple, 10% ) !important;
            color: rgba( #fff, .7 ) !important;
            }

        .top-bar-section .has-dropdown > a:after {content: none}

}


// GLOBAL FOOTER

footer {
    @include at2x('../img/footer_purple_peak', png, 2000px, 85px);
    background-position: center top;
    background-repeat: no-repeat;
    margin-top: -5.3em;
    padding-top: 5.3em;
    position: relative;
    z-index: 2;
    }

.footer-logo {margin-bottom: 2em;   }
.footer-body {
    background-color: #4a1d58;
    padding-bottom: 2em;
    
    li, a {color: #a77fb4}
    li {line-height: 1em; margin-bottom: .5em; }
    .social-links a { background-position-y: -31px; 
        &:hover {background-position-y: 0px}
        }
}

.footer-title {font-weight: 600}

.footer-content {
    border-top: 1px solid #a77fb4;
    border-bottom: 1px solid #a77fb4;
    padding: 1em 0}


//- - - - - - - - - - - - - - - - - -

//HOME PAGE STYLES

//SLIDESHOW
.slideshow-row {
    @include at2x('../img/header_purple_grad', jpg, 80px, 95px);
    background-repeat: repeat-x;
    background-size: 80px 80px;
        
        @media #{$medium-up} {
            background-size: 100px 240px; 
            background-position: 0 .3em;
            margin-top: .1em;
            padding-top: .3em;
            border-top: 1px solid $cma-yellow;
        }
    
        @media #{$large-up} {
           @include at2x('../img/header_purple_grad', jpg, 160px, 340px); 
        }
}

.slick-prev,
.slick-next {
    display: none !important;
    opacity: 0;
    @include main-trans(.5s);
    
    @media #{$large-up} {display: block !important;}
}

.slideshow:hover {
    .slick-prev,
    .slick-next {
        opacity: 1;   
    }
}

.slideshow div {
    position: relative;
    
    a {
        display: block;
        position: absolute;
        z-index: 3;
        width: 320px;
        height: 70px;
        padding-top: 24px;
        background-color: $cma-blue;
        text-align: center;
        font-size: 1.4em;
        color: #fff;
        bottom: 5.3em;
        right: 1.5em;
        @include main-trans(.2s);
        
    }   
    
    .slide01 {
        background-color: $cma-green;
        &:hover {background-color:  lighten($cma-green, 5%)}
    }
    
    .slide02 {
        background-color: $cma-dkred;   
        &:hover {background-color:  lighten($cma-dkred, 5%)}
    }
}

//HOME CONCERT INFO SECTION
.home-concert-info {
    
    text-align: center;
    
    h1 {
        color: $cma-purple;
        font-weight: 700;
        margin-bottom: 0;
        line-height: 1em}
    
    .subheader {color: $cma-red}
    p {color: $cma-purple}  
    
    .concert-lists {
        h3 { font-weight: 600; }
        li {@include main-trans(.3s);}
        
        a {display: block;
        @include main-trans(.2s);
            &:hover {color: #fff}
        }
        
    }

        @media #{$medium-up} {
            .concert-lists {
                text-align: left;
                h3 { padding-left: .7em}
                a {padding: 1em 1em}
                li {line-height: 1.2em;}
            }
        }
}

.classical-list {
    h3 { color: $cma-blue }
    li:nth-child(2n+1) {background-color: rgba($cma-blue, .15)}
    a {color: $cma-blue;
        &:hover {background-color: $cma-blue}
    }
}
.jazz-list {
    h3 { color: $cma-red }
    li:nth-child(2n+1) {background-color: rgba($cma-red, .15)}
    a { color: $cma-red;
        &:hover {background-color: $cma-red}
    }
}

.ticket-panel {
        background-color: $cma-purple;
        border: none;
        
        h4 {
            font-weight: 600;
            color: #fff;
            @media #{$large-up} {line-height: 1px; margin-top: 1.1em;}
        }
    
        h5.subheader {
            color: $cma-yellow;
            font-style: italic;
            @media #{$large-up} {margin-bottom:0;}
        }
    
        .cta {
         @include cta($cma-yellow);
            @media #{$large-up} {margin-top: .3em;}
        }
    }    
    
//HOME SOCIAL MEDIA SECTION
   .home-social-media {
       @include at2x('../img/home_blue_bg', jpg, 8px, 39px);
       background-repeat: repeat-x;
       background-color: $cma-blue;
       margin-top: 1em;
       padding-bottom: 6em;
       
       p {
           color: #fff;
           text-align: center}
       
       @media #{$medium-up} {
          @include at2x('../img/home_blue_bg', jpg, 26px, 120px); 
           
           p {font-size: 1.2em; text-align: left;}
        }
   }

    .social-intro {
         @include at2x('../img/home_social_wave', jpg, 319px, 40px);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 20%;
        padding-top: 2em;
        text-align: center;
        
        h2, h3 {
            color: #fff;   
        }
        
        h2 {
            font-weight: 600;   
        }
        
        @media #{$medium-up} {
          @include at2x('../img/home_social_wave', jpg, 957px, 120px); 
            padding-top: 8em;
            background-size: 100%;
            
            h2, h3 {line-height: 1em}
            
            hr {
                display: block;
                margin: 2em 0}
        }        
        
    }

    .social-media-buttons {
        margin-bottom: 1em;
        text-align: center;
        
            a {
                display: inline-block;
                height: 62px;
                width: 63px;
                @include at2x('../img/home_social_sprite', png, 189px, 62px);
            }

            .home-twt {background-position: -63px 0;}
            .home-ytube {background-position: 63px 0;}

            .grow {
            display: inline-block;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            }
            .grow:hover, .grow:focus, .grow:active {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
            }
    }
        
    

//- - - - - - - - - - - - - - - - - -

//INNER PAGE STYLES
    
.page-title {
    @include at2x('../img/header_purple_grad', jpg, 160px, 90px);
    background-repeat: repeat-x;
    background-position: center center;
    padding: .8em 0;
    border-top: 1px solid $cma-yellow;
    
    h1 {
        color: #fff;
        font-weight: 600}
    
}

.inner {
    background-color: #fff;
    padding-top: 1em;
    padding-bottom: 7em;
    position: relative;
    z-index: 1;
    
    
    //INNER PAGE TYPOGRAPHY
    
    h2 {
        font-weight: 700;
        font-size: 2rem;
    }
    
    h3 {
        font-weight: 700;
        font-size: 1.8rem;
    }
    
    h4 {
        font-weight: 600;
        font-size: 1.6rem;
    }
    
    h5 {
        font-weight: 600;
        font-size: 1.3rem;
        color: $cma-purple;
    }
    
    p {
        color: $cma-purple;   
    }
    
    a {
        text-decoration: underline;
        
        &:hover {text-decoration: none;}
    }
    
    
    
    
}



.nav-bg {
    @include at2x('../img/sidebar_top', jpg, 416px, 39px);
    background-color: $cma-yellow;
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 2em;
    margin-top: 2em;
    
    @media #{$medium-up} {
        background: none;
        padding-top: 0em;
    }   
}


//INNER SIDEBAR
sidebar {

    nav {
        
        
        ul { margin: 0; }

        li {
           &:nth-child(-n+2) { border-bottom: 1px rgba(255, 255, 255, 0.53) solid; }  
        }

        a {
            color: #fff;
            display: block;
            text-align: center;
            text-transform: uppercase;
            padding: .5em 0;
            font-weight: 600;
            @include main-trans(.3s);

                &:hover {
                background-color: rgba(255, 255, 255, 0.46);
                color: $cma-red;}
        }
    
        @media #{$medium-up} {
            @include at2x('../img/sidebar_top', jpg, 310px, 39px);
            background-repeat: no-repeat;
            background-position: center top;
            background-color: $cma-yellow;
            padding-top: 2.5em;
            
            a {
            padding: .7em 0;}
         }
    }
    
    .sidebar-likebox { 
        margin: 0 auto;
        text-align: center;
        background-color: $cma-yellow;
        padding-bottom: 1em;
        
        
    }
}









    




